# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
# ios/
# android/
# !/modules/dolphin-core-ml/ios/
# !/modules/dolphin-core-ml/android/
*.orig.*
*.jks
*.p8
# *.p12
*.key
# *.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo
 
# Native LLM model files
modules/native-llm/android/src/main/cpp/third_party/llama.cpp/
filesDir/models/*.gguf
Application Support/models/*.mlpackage
Application Support/models/tokenizer.json
ios/Documents/*.mlpackage
ios/Documents/tokenizer.json
.vercel

.rork

.env
rork-eslint.config.js
ios/
android/